body {
    margin: 0;
    height: 100vh;
    background-image: url("sky-clipart.jpg");
    background-repeat: no-repeat;
}

.main-content {
    align-items: center;
    justify-content: center;
    height: 90%;
    z-index: 1;
    display: flex;
}

.heading {
    background-color: rgba(22, 122, 153, 0.575);
    height: 10%;
    width: 100vw;
    font-family: 'Piedra', cursive;
    text-align: center;
    color: rgb(205, 218, 255);
    top: 200px;
    bottom: 400px;
    z-index: 2;
    font-size: 60px;
}

canvas {
    border: 1px solid #0fff;
}

#sub-content {
    height: 500px;
    width: 400px;
    position: relative;
}

#sub-content canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0
}

#overlay {
    height: 500px;
    width: 400px;
    position: absolute;
}

#sound {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: sticky;
}

.Sound {
    height: 30px;
    width: 30px;
    z-index: 3;
    top: 220px;
    right: 390px;
    position: relative;
}

#gameover {
    width: 400px;
    height: 500px;
    position: absolute;
    display: none;
    font-family: "Germania One";
    background-color: rgb(1, 1, 1, 0.4);
}

#youwon {
    width: 100px;
    position: absolute;
    top: 200px;
    left: 150px;
    display: none;
    z-index: 6;
}

#youlose {
    width: 400px;
    position: absolute;
    top: 100px;
    left: 0px;
    display: none;
    z-index: 6;
}

#restart {
    position: absolute;
    top: 310px;
    left: 155px;
    cursor: pointer;
    font-size: 1.25em;
    color: rgb(255, 255, 255);
    z-index: 6;
}

#play {
    width: 400px;
    height: 500px;
    position: absolute;
    font-family: "Germania One";
    background-image: url("bg.jpg");
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid #0fff;
}

.button {
    background-color: #20b0d4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 8px;
    cursor: pointer;
}

.button:hover {
    background-color: RoyalBlue;
}

.home {
    top: 0px;
    bottom: 4000px;
    height: 10%;
    width: 10%;
    align-items: left;
    justify-content: top;
    text-align: left;
    z-index: 100;
    background-color: rgb(231, 41, 7);
}

.icon-bar {
    width: 90px;
    top: 500px;
    background-color: #555;
}

.icon-bar a {
    top: 500px;
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #0a7880;
}

@keyframes mymove {
    from {
        top: 0px;
    }
    to {
        top: 40px;
    }
}

.arrow {
    border: solid rgb(0, 68, 216);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    position: relative;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    animation: mymove 1s;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
    .icon-bar {
        width: 100%;
        background-color: #555;
        overflow: auto;
    }
    .icon-bar a {
        float: left;
        width: 20%;
        text-align: center;
        padding: 12px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 36px;
    }
    canvas {
        position: relative;
        margin: 20% 0%;
    }
    .Sound {
        top: 48%;
        right: 75%;
    }
    #gameover {
        top: 16%;
        left: 0%;
    }
    #play {
        top: 26%;
    }
}